body {
  background-color: #ffffff;
}
.container1 {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.box:hover {
    background-color: #eee;
}
.box a {
    color: #000;
    font-family: '標楷體', serif;
    font-size: 24px;
    text-decoration: none;
}

/* 每個區塊的背景顏色 */
.box:nth-child(1) {
    background-color: #f7eac5; /* 淡黃色 */
}
.box:nth-child(2) {
    background-color: hsl(105, 70%, 80%); /* 淡綠色 */
}
.box:nth-child(3) {
    background-color: #f8b5b5; /* 淡粉色 */
}
.box:nth-child(4) {
    background-color: #7ecff5; /* 淡藍色 */
}
.box:nth-child(5) {
    background-color: #df96f1; /* 淡藍色 */
}